
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Annexe technique §2.7 — jeu de données/fichiers déposés par les utilisateurs
/public/uploads/

# Éditeurs / OS
/.idea/
/.vscode/
.DS_Store
Thumbs.db
